<div class="card border shadow-sm w-100">
    <div class="card-header bg-transparent border-0 pt-4 px-4 pb-0 d-flex justify-content-between align-items-center">
        <h5 class="fw-bold mb-0">Your Roles</h5>
        <div>
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addRoleModal">
                <i class="bi bi-plus"></i>
                <span class="d-none d-md-inline">Add</span>
            </button>
            <span class="badge text-muted border fw-normal">{{ roles.length }} Roles</span>
        </div>
    </div>

    <div class="card-body table-responsive p-0 mt-3">
        <table class="table table-hover align-middle roles-table mb-0">
            <thead class="small border-top">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of roles">
                    <td>{{ role.id }}</td>
                    <td>{{ role.name }}</td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
                            data-bs-target="#editRoleModal" (click)="onEdit(role)">
                            <i class="bi bi-pencil"></i>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm"><i class="bi bi-trash"
                                (click)="onDelete(role.id)"></i> <span class="d-none d-md-inline">Delete</span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>