<app-modal modalId="formUserModal" [title]="isEditMode ? 'Edit user' : 'Create user'">
    <form modal-body class="d-flex flex-column gap-2" id="userForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" formControlName="name">

        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" formControlName="email">

        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password">

        <label for="roles">Roles</label>
        <div id="roles" formGroupName="roles">
            <div class="form-check" *ngFor="let role of roles">
                <input class="form-check-input" type="checkbox" [id]="'role-' + role.id" [formControlName]="role.id">

                <label class="form-check-label" [for]="'role-' + role.id">
                    {{ role.name }}
                </label>
            </div>
        </div>
    </form>

    <ng-container modal-footer>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
        </button>

        <button type="submit" class="btn btn-success" form="userForm" data-bs-dismiss="modal">
            {{ isEditMode ? 'Save changes' : 'Create user' }}
        </button>
    </ng-container>
</app-modal>