<app-modal modalId="editProfileModal" title="Edit profile">
    <form modal-body class="d-flex flex-column gap-2" *ngIf="profile" id="editProfileForm" [formGroup]="profileForm" (ngSubmit)="onSubmitProfile()">
        <label for="edit-name">Name</label>
        <input type="text" id="edit-name" class="form-control" formControlName="name">
    </form>
    <ng-container modal-footer>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" form="editProfileForm" data-bs-dismiss="modal">
            Save changes
        </button>
    </ng-container>
</app-modal>

<app-modal modalId="editPasswordModal" title="Edit password">
    <form modal-body class="d-flex flex-column gap-2" id="editPasswordForm" [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">
        <label for="edit-old-password">Old Password</label>
        <input type="password" id="edit-old-password" class="form-control" formControlName="oldPassword">

        <label for="edit-password">New Password</label>
        <input type="password" id="edit-password" class="form-control" formControlName="password">
    </form>
    <ng-container modal-footer>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" form="editPasswordForm" data-bs-dismiss="modal">
            Save changes
        </button>
    </ng-container>
</app-modal>