<nav class="navbar navbar-expand-lg shadow fw-bold">
    <div class="container-fluid justify-content-between px-4">
        <a class="navbar-brand fs-4" routerLink="/">
            <img class="logo" src="assets/img/logo.png" alt="Logo">
            <span class="logo text-uppercase">surl</span>
            <code class="badge text-secondary border ms-4 p-1 fs-6">beta</code>
        </a>

        <button class="navbar-toggler ms-auto me-2" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end offcanvas-lg w-100" tabindex="-1" id="navbarNav">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title text-uppercase" id="navbarNavLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>

            <div class="offcanvas-body justify-content-end">
                <ul class="navbar-nav ms-lg-auto">
                    <ng-container *ngIf="authService.isLoggedIn$ | async">
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" routerLink="/links" data-bs-dismiss="offcanvas">Links</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" routerLink="/analytics"
                                data-bs-dismiss="offcanvas">Analytics</a>
                        </li>
                    </ng-container>

                    <ng-container *ngIf="!(authService.isLoggedIn$ | async)">
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" routerLink="/login" data-bs-dismiss="offcanvas">Sign
                                in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" routerLink="/register" data-bs-dismiss="offcanvas">Sign
                                up</a>
                        </li>
                    </ng-container>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-uppercase d-flex align-items-center" href="#"
                            id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i [ngClass]="{
                            'bi-circle-half': themeService.currentTheme === 'system',
                            'bi-moon-fill': themeService.currentTheme === 'dark',
                            'bi-brightness-high-fill': themeService.currentTheme === 'light'
                            }">
                            </i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end text-uppercase border-0 shadow rounded-0">
                            <li>
                                <button class="dropdown-item d-flex align-items-center gap-2"
                                    [class.active]="themeService.currentTheme === 'light'" (click)="setTheme('light')"
                                    data-bs-dismiss="offcanvas">
                                    <i class="bi bi-brightness-high-fill"></i> Light
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item d-flex align-items-center gap-2"
                                    [class.active]="themeService.currentTheme === 'dark'" (click)="setTheme('dark')"
                                    data-bs-dismiss="offcanvas">
                                    <i class="bi bi-moon-fill"></i> Dark
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item d-flex align-items-center gap-2"
                                    [class.active]="themeService.currentTheme === 'system'" (click)="setTheme('system')"
                                    data-bs-dismiss="offcanvas">
                                    <i class="bi bi-circle-half"></i> System
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <ul class="navbar-nav">
            <li class="nav-item dropdown" *ngIf="authService.isLoggedIn$ | async">
                <a class="nav-link text-uppercase d-flex align-items-center text-reset" href="#" id="navbarDropdown"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="profile-icon bi bi-person-circle"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-end text-uppercase border-0 shadow rounded-0 position-absolute">
                    <ng-container *ngIf="authService.isAdmin$ | async">
                        <li>
                            <a class="dropdown-item d-flex align-items-center gap-2" routerLink="/settings">
                                <i class="bi bi-gear"></i> Settings
                            </a>

                        </li>
                    </ng-container>

                    <li>
                        <a class="dropdown-item d-flex align-items-center gap-2" routerLink="/profile">
                            <i class="bi bi-person"></i> Profile
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center gap-2" href="#"
                            (click)="authService.logout()">
                            <i class="bi bi-box-arrow-right"></i> Sign out
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</nav>