<nav class="navbar navbar-expand-lg shadow fw-bold">
    <div class="container-fluid px-4">
        <a class="navbar-brand fs-4" routerLink="/">
            <img class="logo" src="assets/img/logo.png" alt="Logo">
            <span class="logo text-uppercase">surl</span>
            <span badge class="badge bg-primary ms-4">beta</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <ng-container *ngIf="authService.isLoggedIn$ | async">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" routerLink="/links">Links</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" routerLink="/analytics">Analytics</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-danger text-uppercase" (click)="authService.logout()">
                            Sign out
                        </button>
                    </li>
                </ng-container>

                <ng-container *ngIf="!(authService.isLoggedIn$ | async)">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" routerLink="/login">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" routerLink="/register">Sign up</a>
                    </li>
                </ng-container>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase d-flex align-items-center" href="#"
                        id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i [ngClass]="{
                            'bi-circle-half': themeService.currentTheme === 'system',
                            'bi-moon-fill': themeService.currentTheme === 'dark',
                            'bi-brightness-high-fill': themeService.currentTheme === 'light'
                            }">
                        </i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end text-uppercase border-0 shadow rounded-0">
                        <li>
                            <button class="dropdown-item d-flex align-items-center gap-2"
                                [class.active]="themeService.currentTheme === 'light'" (click)="setTheme('light')">
                                <i class="bi bi-brightness-high-fill"></i> Light
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item d-flex align-items-center gap-2"
                                [class.active]="themeService.currentTheme === 'dark'" (click)="setTheme('dark')">
                                <i class="bi bi-moon-fill"></i> Dark
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item d-flex align-items-center gap-2"
                                [class.active]="themeService.currentTheme === 'system'" (click)="setTheme('system')">
                                <i class="bi bi-circle-half"></i> System
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>