ngb-toast {
    --bs-toast-header-bg: var(--theme-card-bg);
    --bs-toast-header-color: var(--bs-body-color);
    --bs-toast-header-border-color: var(--theme-card-border);

    --bs-toast-bg: var(--theme-card-bg);
    --bs-toast-color: var(--bs-body-color);
    --bs-toast-border-color: var(--theme-card-border);
}